
@font-face {
    font-family: "Shadow";
    src: url(../Shadow.ttf) format('truetype');
}
:root{
    /* --back: #FABE00; */
    --back: #98E0FA;
    --back1: #91D4ED;
    --back2: rgba(129, 190, 212, 1);
    --back3: rgba(106, 155, 173, 1);
    --back4: rgba(67, 98, 110, 1);
    --shadow: 0.1em 0.2em 0.2em rgb(0 0 0 / 50);
    --rand:#EDB579;

    
   
    height: 100%;
}
body {
    /* display: grid; */
    font-family: 'Raleway', sans-serif;
    height: 100%;

}
.sign{
    border-radius: 100%;
    font-family: Shadow, sans-serif;
    border: 7px solid var(--rand);
border-radius: 100px;
/* font-weight:bolder; */
padding: 0.1em;
margin-top: 0.2em;
font-size: x-large;
text-shadow: 0.04em 0.04em 0.04em rgba(254 255 255 / 50);

}
.svg-inline--fa{
    color: var(--rand);
    text-shadow: var(--shadow);
    background: rgba(67, 98, 110, 0.5);
    padding: 0.3rem;
    border-radius: 0.3rem;
}
.navbar-expand-lg{
    background-color: var(--back);
    padding: 0;
    height: 12%;
}
.carousel-indicators{
    height: 0rem !important;
}
/* .container-fluid{
    justify-content: space-between;
} */
.books-image{
    width: 30%;
    margin-bottom: 1em;
} 
.intro{
    display: flex;
    background-color: var(--back1);
    height: 25%;
    justify-content: space-evenly;
}
.carousel-item{
    text-align-last: center;
}
.profile-image{
    width:15%;
    /* height: 30%; */
    border-radius: 360px;
    border: 7px solid var(--rand);
    margin: 5px;
   
}
.nav-link{
    margin-bottom:0px !important;
    margin-right:0px !important;
    margin-top:0px !important;
    margin-left: 6em !important;
}
.nav-link {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 25px;
    text-shadow: var(--shadow);
    color: white !important;
}
.main{
    padding-top: 5%;
    text-align: -webkit-center;
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    /* height: 500px; */
    height: 80%;
}
.name-description{
    width: fit-content;
    text-align-last: start;
    margin-left: 35%;
    margin-right: 22%;
    text-align: justify;
}
.name{
    color: white;
    text-shadow: var(--shadow);
    font-weight: bold;
    
}

.discription{
   font-size: 0.8rem;
   color:white;
   text-shadow: var(--shadow);
    background: rgba(67, 98, 110, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    text-align-last: start;
}
.footer{
    /* min-height: calc(10vh - 40px); */
    display: flex;
    background-color: var(--back4);
    height: 8%;
    text-align-last: center;
    justify-content: space-evenly;
    align-items: center;
}
.moto{
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: var(--shadow) ;
    padding-top: 1%;
}
.main1{
    padding-top: 5%;
    text-align: -webkit-center;
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    height: 80%;
}
/* .main2{
    padding-top: 5%;
    text-align: -webkit-center;
    background-image: url(../white-abstract-background-design_23-2148825582.png);
    height: 500px;
    height: 100%;
}
.services-list{
    
} */
.main3{
    padding-top: 5%;
    text-align: -webkit-center;
    background-image: url(../white-abstract-background-design_23-2148825582.png);
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    height: 80%;
}
.main4{
    padding-top: 5%;
    text-align: -webkit-center;
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    height: 80%;
}
/* .svg-inline--fa{
    font-size: 2rem;
} */
.contact-links{
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: var(--shadow) ;
text-decoration-line: blink;
color: white;
}

/* .carousel-inner{
    width: 70%;
    height: 70%;
} */
.d-block{
    width: 35%;
    
}
/* .d-block:hover{
    width: 38%;
} */
/* 
* {
    margin: 0;   
    padding: 0; */
  /* }
html{
height: 100%;
width: 100%;
}
body{
    height: 100%;
width: 100%;

    display: grid;
    grid-template-columns: auto auto;
}
.left-right{
    display: grid;
background-color:var(--back);
height: 100%;
width: 100%;

align-items: flex-end;
    justify-items: end;
}
.left-right-bottom{
    display: grid;
background-color: var(--back);
height: 100%;
width: 100%;

align-items: flex-start;
    justify-items: start;
}

.right-left{
    display: grid;
    height: 100%;
width: 100%;

    align-items: flex-end;
    justify-items: start;
}

.right-left-bottom{
    display: grid;
    height: 100%;
width: 100%;

    align-items: flex-start;
    justify-items: end;
}

.img-left-bottom{
    width: 20%;
    height: 30%;
    /* margin: 1px; */
/* } */
/* .img-right-top{
    width: 20%;
    height: 30%;
    /* margin: 1px; */

} */

/* @media (max-width: 535px) {
    .img-left-bottom{
        height: 10%;
    }
    .img-right-top{
        height: 10%;
    }
  }
  @media (min-width: 535px) and (max-width: 767px) {
    .img-left-bottom{
        height: 15%;
    }
    .img-right-top{
        height: 15%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .img-left-bottom{
        height: 20%;
    }
    .img-right-top{
        height: 20%;
    }
  }
  @media (min-width: 1200px) {
    .img-left-bottom{
        height: 30%;
    }
    .img-right-top{
        height: 30%;
    }
  }
   */
