
@font-face {
    font-family: "Shadow";
    src: url(../Shadow.ttf) format('truetype');
}
body{
    --back: black;
    --back1: #0a1a26;
    --back2: rgb(7, 42, 55);
    --back3: rgb(4, 81, 109);
    --back4: #0a1a26;
    --shadow: 0.1em 0.2em 0.2em rgb(0 0 0 / 50);
    --rand:#EDB579;
    --font:white;
    --font-back:rgba(216, 228, 234, 0.5);
    --back-img:rgba(7, 39, 50, 0.8);
    --back-img2:rgba(3, 34, 46, 0.5);
    height: 100%;
}

:root{
    height: 100%;
}
.light {
    --back: #98E0FA;
    --back1: #91D4ED;
    --back2: rgba(129, 190, 212, 1);
    --back3: rgba(106, 155, 173, 1);
    --back4: rgba(67, 98, 110, 1);
    --shadow: 0.1em 0.2em 0.2em rgb(0 0 0 / 50);
    --rand:#EDB579;
    --font:white;
    --font-back:rgba(67, 98, 110, 0.5);
    --back-img:rgba(129, 190, 212, 0.8);
    --back-img2:rgba(106, 155, 173, 0.5);
    /* display: grid; */
    font-family: 'Raleway', sans-serif;
    height: 100%;

}
.sign{
    /* border-radius/: 100%; */
    font-family: Shadow, sans-serif;
    /* border: 7px solid var(--rand); */
border-radius: 100px;
/* font-weight:bold; */
padding: 0.2em;
margin-top: 0.2em;
font-size: xx-large;
text-shadow: var(--shadow);
color: var(--rand);
background:var(--back3)

}
.collapse {
    align-content: center !important;
}

.flx{
    display: flex;
    align-items: center;
}
.svg-inline--fa{
    color: var(--rand);
    text-shadow: var(--shadow);
    background: var(--font-back);
    padding: 0.3rem;
    border-radius: 0.3rem;
}
.navbar-expand-lg{
    background-color: var(--back);
    padding: 0;
    height: fit-content;
}
.carousel-indicators{
    height: 0rem !important;
}
/* .container-fluid{
    justify-content: space-between;
} */
.books-image{
    width: 30%;
    margin-bottom: 1em;
} 
.books-image:hover{
    cursor: pointer;
    /* width: 80%; */
    
   zoom: 150%;
   /* position: absolute; */
        top: 5em;
   overflow: hidden;
    width: 20em;
    transition: transform .5s ease-in-out;
    transform:scale(1);
    -webkit-transform:scale(1); /* Safari and Chrome */

} 
.navbar-toggler{
    background-color:var(--rand) !important;
}
.intro{
    display: flex;
    background-color: var(--back1);
    height: fit-content;
    justify-content: space-evenly;
}
.carousel-item{
    text-align-last: center;
}
.profile-image{
    width:25%;
    /* height: 30%; */
    border-radius: 360px;
    border: 7px solid var(--rand);
    margin: 5px;
   
}
/* .nav-link{
    margin-bottom:0px !important;
    margin-right:0px !important;
    margin-top:0px !important;
    margin-left: 6em !important;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 25px;
    text-shadow: var(--shadow);
    color: var(--font) !important;
} */
.main{
    padding-top: 3%;
    text-align: -webkit-center;
    background: linear-gradient( var(--back-img) 100%, var(--back-img2) 100%), url(../background.jpg);
    /* height: 500px; */
    height: 80%;
}
.name-description{
    width: fit-content;
    text-align-last: start;
    margin-left: 10%;
    margin-right: 29%;
    text-align: justify;
}
.name{
    color: var(--font);
    text-shadow: var(--shadow);
    font-weight: bold;
    
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-left: 3em;
}

.discription{
   font-size: 0.8rem;
   color:var(--font);
   text-shadow: var(--shadow);
    background: var(--font-back);
    padding: 0.3rem;
    border-radius: 0.3rem;
    text-align-last: start;
    margin:0.2rem;
    vertical-align: super;
}
.discription1{
    font-size: 0.8rem;
    color:var(--font);
    text-shadow: var(--shadow);
     background: var(--font-back);
     padding: 0.3rem;
     border-radius: 0.3rem;
     text-align-last: center;
     /* margin:0.2rem */
     inline-size: max-content;
 }
.footer{
    /* min-height: calc(10vh - 40px); */
    display: flex;
    background-color: var(--back4);
    height: 8%;
    text-align-last: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.moto{
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: var(--shadow) ;
    padding-top: 1%;
}
.main1{
    padding-top: 3%;
    text-align: -webkit-center;
    background: linear-gradient( var(--back-img) 100%, var(--back-img2)100%), url(../background.jpg);
    height:76%;;
}
.d-block{
    width: 55% !important;
}

.main3{
    padding-top: 3%;
    text-align: -webkit-center;
    background-image: url(../white-abstract-background-design_23-2148825582.png);
    background: linear-gradient( var(--back-img) 100%,var(--back-img2) 100%), url(../background.jpg);
    height:76%;;
}


.contact-links{
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: var(--shadow) ;
text-decoration-line: blink;
color: var(--font);
}

.carousel-item {
    width:76%;;
}
.d-block{
    width: 35%;
    
}






.navi{
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
    align-items: center;
    padding-left: 1%;
    background-color: black;
}
.nav-link{
    margin-bottom:0px !important;
    margin-right:0px !important;
    margin-top:0px !important;
    /* margin-left: 6em !important; */
    font-size: 0.9rem;
    font-weight: bold;
    margin: 25px;
    text-shadow: var(--shadow);
    color: var(--font) !important;
}
.items{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}