
@font-face {
    font-family: "Shadow";
    src: url(../Shadow.ttf) format('truetype');
}
:root{
    /* --back: #FABE00; */
    --back: #98E0FA;
    --back1: #91D4ED;
    --back2: rgba(129, 190, 212, 1);
    --back3: rgba(106, 155, 173, 1);
    --back4: rgba(67, 98, 110, 1);
    --shadow: 0.1em 0.2em 0.2em rgb(0 0 0 / 50);
    --rand:#EDB579;

    
   
    height: 100%;
}
body {
    /* display: grid; */
    font-family: 'Raleway', sans-serif;
    height: 100%;

}
.sign{
    /* border-radius/: 100%; */
    font-family: Shadow, sans-serif;
    /* border: 7px solid var(--rand); */
border-radius: 100px;
/* font-weight:bold; */
padding: 0.2em;
margin-top: 0.2em;
font-size: xx-large;
text-shadow: var(--shadow);
color: var(--rand);
background:var(--back4)

}
.svg-inline--fa{
    color: var(--rand);
    text-shadow: var(--shadow);
    background: rgba(67, 98, 110, 0.5);
    padding: 0.3rem;
    border-radius: 0.3rem;
}
.navbar-expand-lg{
    background-color: var(--back);
    padding: 0;
    height: 12%;
}
.carousel-indicators{
    height: 0rem !important;
}
/* .container-fluid{
    justify-content: space-between;
} */
.books-image{
    width: 30%;
    margin-bottom: 1em;
} 
.books-image:hover{
    cursor: pointer;
    
   zoom: 110%;
   /* position: absolute; */
        top: 5em;
   overflow: hidden;
    width: 20em;
    transition: transform .5s ease-in-out;
    transform:scale(1);
    -webkit-transform:scale(1); /* Safari and Chrome */

} 
.intro{
    display: flex;
    background-color: var(--back1);
    height: 25%;
    justify-content: space-evenly;
}
.carousel-item{
    text-align-last: center;
}
.profile-image{
    width:18%;
    /* height: 30%; */
    border-radius: 360px;
    border: 7px solid var(--rand);
    margin: 5px;
   
}
.nav-link{
    margin-bottom:0px !important;
    margin-right:0px !important;
    margin-top:0px !important;
    margin-left: 6em !important;
}
.nav-link {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 25px;
    text-shadow: var(--shadow);
    color: white !important;
}
.main{
    padding-top: 3%;
    text-align: -webkit-center;
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    /* height: 500px; */
    height: 80%;
}
.name-description{
    width: fit-content;
    text-align-last: start;
    margin-left: 35%;
    margin-right: 22%;
    text-align: justify;
}
.name{
    color: white;
    text-shadow: var(--shadow);
    font-weight: bold;
    
}

.discription{
   font-size: 0.8rem;
   color:white;
   text-shadow: var(--shadow);
    background: rgba(67, 98, 110, 0.5);
    padding: 0.3rem;
    border-radius: 0.3rem;
    text-align-last: start;
    margin:0.2rem
}
.footer{
    /* min-height: calc(10vh - 40px); */
    display: flex;
    background-color: var(--back4);
    height: 8%;
    text-align-last: center;
    justify-content: space-evenly;
    align-items: center;
}
.moto{
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: var(--shadow) ;
    padding-top: 1%;
}
.main1{
    padding-top: 3%;
    text-align: -webkit-center;
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    height: 80%;
}

.main3{
    padding-top: 3%;
    text-align: -webkit-center;
    background-image: url(../white-abstract-background-design_23-2148825582.png);
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    height: 80%;
}
.main4{
    padding-top: 3%;
    text-align: -webkit-center;
    background: linear-gradient( rgba(129, 190, 212, 0.8) 100%, rgba(106, 155, 173, 0.5)100%), url(../background.jpg);
    height: 80%;
}

.contact-links{
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: var(--shadow) ;
text-decoration-line: blink;
color: white;
}

/* .carousel-inner{
    width: 70%;
    height: 70%;
} */
.d-block{
    width: 35%;
    
}
